<h1><%= @post.title %></h1>

<%= @post.content %><br>
by
<%= @post.user.try(:name) %>

<p>
  標籤:
  <ul>
    <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tag_posts_path(tag) %>
    <% end %>
  </ul>
</p>

<hr/>

<%= link_to '新增標籤', new_post_tag_path(@post) %>
<%= link_to '編輯', edit_post_path(@post) %>
<%= link_to '刪除', @post, method: :delete, :data => {:confirm => "你確定嗎?"} %>
<%= link_to '上一頁', posts_path %>

